html,
body {
    height: 100%;
}






/* Small screens */
@media only screen and (max-width: 575px) {
    nav {
        width: 100vw;
    }

    .navbar {
        padding-left: 0;
    }

    h1 {
        width: 100vw;
        text-align: center;
    }

    .container {
        width: 100vw;
    }
}